loki-stack:
  loki:
    persistence:
      enabled: false
    resources:
      limits:
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 128Mi

  promtail:
    enabled: true
    config:
      clients:
        - url: http://loki:3100/loki/api/v1/push
    resources:
      limits:
        memory: 128Mi
      requests:
        cpu: 50m
        memory: 64Mi

  grafana:
    enabled: false
