replicaCount: 1

image:
  repository: ghcr.io/yonimachlin137/basic-devops-assignment
  tag: "15"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 5000

resources:
  limits:
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
